@model VideoRentalProject.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Movie</h2>

@using (Html.BeginForm("Save", "Movies"))
{

    @Html.ValidationSummary(true, "Please Fix the Following Errors")
    <div class=" form-group mt-2">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class=" form-group mt-2">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control " })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>

    <div class=" form-group mt-2">
        @Html.LabelFor(m => m.Genre)
        @Html.ListBoxFor(m => m.SelectedGenreIds, new MultiSelectList(Model.Genre, "Id", "Name"), new { @class = "form-control", size = "5", style = "overflow-y: auto;" })
        @Html.ValidationMessageFor(m => m.SelectedGenreIds)
    </div>
    <div class=" form-group mt-2">
        @Html.LabelFor(m => m.Stock)
        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Stock)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary mt-2">Save </button>
}

@section scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }
